@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --color-white-1: #ffffff;
  --color-white-2: #eaeaea;
  --color-white-3: #cacaca;
  --color-white-4: #a2a2a2;
  --color-black-1: black;

  --color-blue-main: #408ead;
  --color-blue-footer: #054654;

  --color-blue-1: #d1e9ff;
  --color-blue-2: #18728f;
  --color-blue-3: #005673;
  --color-blue-4: #003d58;
  --color-blue-5: #00243e;

  --color-index_rate-1: #000aff;
  --color-index_rate-2: #29beb5;
  --color-index_rate-3: #61cd0b;
  --color-index_rate-4: #ffa800;
  --color-index_rate-5: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background: #353842;
    background-color: #F0F6FF;

}

/* Navbar */

/* navbar start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white-1);
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.25);
    position: fixed;
    z-index: 1000;
    height: 84px;
    width: 100%;
    font-size: 18px;
}

.navbar_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-left: 50px;
    gap: 20px;
}

.navbar_logo :hover{
    color: var(--color-white-3);
}
  
.navbar_logo :active{
    color: var(--color-blue-main);
}
  
.navbar_logo_image {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../ASSET/image/image-logo/waterGuard.png);
}
  
.navbar_logo_title {
    font-weight: 100;
    font-size: 32px;
}
  
.navbar_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 18px;
}

.navbar_logo a, .navbar_nav a {
    color: var(--color-black-1);
}
  
.navbar_logo a:hover, .navbar_nav a:hover {
    color: var(--color-white-3);
  }

  
.navbar_logo a:active ,.navbar_nav a:active {
    color: var(--color-blue-main);
}

.navbar_search {
    display: flex;
    gap: 20px;
    border-radius: 20px;
    background-color: var(--color-white-1);
    border: 2px solid var(--color-white-2);
    padding: 10px;
    padding-left: 20px;
    width: 336px;
    height: 44px;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    box-shadow: 0.1px 0.1px 1px rgb(0, 0, 0, 0.25);
}
  
.navbar_search_image {
    background-image: url(../ASSET/image/image-logo/search.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}
  
.navbar_search input {
    width: 100%;
    height: 100%;
    background-color: var(--color-white-1);
    font-size: 15px;
}
  
.navbar_search:focus-within {
    background-color: var(--color-white-1);
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.25);
}
  /* navbar end */

/* Hero Section */


.hero {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url("../ASSET/image/image-background/view-crystal-clear-water.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    /* background: linear-gradient(0deg, #F0F6FF 8%, rgba(253, 253, 253, 0) 30%); */
}

/* content 1 */
.hero .content {
    padding: 1.2rem 7%;
    max-width: 50rem;
    width: 750px;
    height: 400px;
    left: 20px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 50px;
    border-radius: 50px;
    background-color: #ffffffaf;
    display: inline-block;
    position: relative;
}

.hero .content h1 {
    font-size: 60px;
    color: #000000;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.1;
    margin-top: 1rem;
}

.hero .content h1 span {
    color: var(--primary)
}

.hero .content p {
    text-align: justify;
    font-size: 40px;
    width: 100%;
    margin-top: 20px;
    font-weight: 30px;
    color: #000000;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);

}

.hero .content .cta1 {
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 16px;
    font: arial;
    color: #fff;
    background-color: var(--color-blue-main);
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta2 {
    margin-top: 2rem;
    margin-left: 5px;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 16px;
    font: arial;
    color: var(--color-blue-main);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta2:hover,
.hero .content .cta1:hover {
    color: #000000;
}

/* content 2 */
.hero .content2 {
    padding: 1rem;
    max-width: 410px;
    width: 500px;
    height: 500px;
    left: 20px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 40px;
    background-color: #ffffffc8;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* content 2 bagaian atas */

.hero .content2 .frame-0 {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    max-width: 381px;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 190px;
    background-color: #ffffff;
}

/* content 2 bagaian tengah */

.hero .content2 .frame {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    max-width: 381px;
    width: 100%;
    height: 150px;
    background-color: var(--color-blue-2);
    margin-top: 20px;
}

.hero .content2 .frame .component {
    position: relative;
    height: 100px;

}

.hero .content2 .frame .overlap {

    width: 342px;
    height: 80px;
    top: 7px;
    left: 21px;
}

.hero .content2 .frame .your-current {
    position: absolute;
    width: 292px;
    height: 0px;
    top: 20px;
    left: 20px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
}


.hero .content2 .frame .text-wrapper {
    font-weight: 500;
    color: #000000;
}

.hero .content2 .frame .span {
    font-family: "Poppins-Light", Helvetica;
    font-weight: 500;
}



/* Untuk index 37*/
.box {
    position: relative;
    top: 30px;
    left: 290px;
    width: 100px;
    height: 100px;

}

.box .group {
    display: flex;
    width: 100px;
    height: 100px;
}

.box .group .overlap-group-wrapper {
    display: flex;
    width: 57px;
    height: 52px;
}

.box .group .overlap-group-wrapper .overlap-group {
    position: relative;
    width: 58px;
    height: 51px;
}


.box .group .overlap-group-wrapper .overlap-group .ellipse {
    width: 54px;
    height: 51px;
    left: 4px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px #07060640;
    position: absolute;
    border-radius: 27px/25.5px;
}

.box .overlap-group-wrapper .overlap-group .img {
    width: 35px;
    height: 46px;
    left: 0;
    position: absolute;
    top: 0;
}

.box .overlap-group-wrapper .overlap-group .text-wrapper {
    position: absolute;
    width: 24px;
    top: 16px;
    left: 22px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 17px;
    color: #000000;
}

/* content 2 bagian bawah */

.hero .content2 .frame-2 {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    max-width: 381px;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 150px;
    background-color: #ffffff;
    margin-top: 20px;
}

.hero .content2 .frame-2 .img-2 {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    width: 100%;
    height: 150px;
    padding-bottom: 1rem;
}




/*-------------------- Information ---------------------- */
.information {
    padding: 20rem 7% 1.4rem;
    width: 100%;
    position: relative;
}


.information .row {
    display: flex;



}

.information .row .information-img {
    margin-left: 30px;
    width: 50%;


}

.information .row .information-img img {
    width: 90%;
    border-radius: 15px;
    margin-bottom: 200px;
}

.information .row .content1 {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.information .row .content1 h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;

}

.information .row .content1 p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100%;
    line-height: 1.6;
    color: #00243E;
}

/* Quality */

.quality {
    padding: 10rem 6% 1.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(0deg, #ffffff 8%, rgba(253, 253, 253, 0) 30%); */
}

.quality p {
    font-size: 1.4rem;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 100px;
}

.container_box1 {
    display: flex;

}

.container_box2 {
    display: flex;

}


.quality .box1,
.quality .box2,
.quality .box3,
.quality .box4,
.quality .box5 {
    display: flex;
    justify-content: space-between;
    width: 450px;
    height: 131px;
    border-radius: 20px;
    text-align: center;
    background-color: #18728F;
    margin: 10px;
    flex-direction: row;
}

/* untuk box 1 start */
.quality .box1 .index-img1,
.quality .box1 .index-img2 {
    width: 100px;
    padding-top: 20px;
    /* background-color: #000000; */
}

.quality .box1 .index-img1 .img1-1,
.quality .box1 .index-img2 .img1-1 {
    justify-content: center;

}

.quality .box1 .index-text1 {
    width: 300px;
    /* background-color: #00243E; */
}

.quality .box1 .index-text1 h1 {
    font-size: 20px;
    padding-top: 30px;
    color: #f2f2f2;
}

.quality .box1 .index-text1 p {
    color: #f2f2f2;
}

/* box 1 end */

/* box 2 start */

.quality .box2 .index-img3,
.quality .box2 .index-img4 {
    width: 100px;
    padding-top: 20px;
    /* background-color: #000000; */
}

.quality .box2 .index-img3 .img1-1,
.quality .box2 .index-img4 .img1-1 {
    justify-content: center;

}

.quality .box2 .index-text2 {
    width: 300px;
    /* background-color: #00243E; */
}

.quality .box2 .index-text2 h1 {
    font-size: 20px;
    padding-top: 30px;
    color: #f2f2f2;
}

.quality .box2 .index-text2 p {
    color: #f2f2f2;
}

/* box 2 end */

/* box 3 start */

.quality .box3 .index-img5,
.quality .box3 .index-img6 {
    width: 100px;
    padding-top: 20px;
    /* background-color: #000000; */
}

.quality .box3 .index-img5 .img1-1,
.quality .box3 .index-img5 .img1-1 {
    justify-content: center;

}

.quality .box3 .index-text3 {
    width: 300px;
    /* background-color: #00243E; */
}

.quality .box3 .index-text3 h1 {
    font-size: 20px;
    padding-top: 30px;
    color: #f2f2f2;
}

.quality .box3 .index-text3 p {
    color: #f2f2f2;
}

/* box 3 end */

/* box 4 start */

.quality .box4 .index-img7 {
    width: 100px;
    padding-top: 20px;
    /* background-color: #000000; */
}

.quality .box4 .index-img7 .img1-1 {
    justify-content: center;

}

.quality .box4 .index-text4 {
    width: 400px;
    /* background-color: #00243E; */
}

.quality .box4 .index-text4 h1 {
    font-size: 20px;
    padding-top: 30px;
    color: #f2f2f2;
}

.quality .box4 .index-text4 p {
    color: #f2f2f2;
}

/* box 4 end */

/* box 5 start */
.quality .box5 .index-img8 {
    width: 100px;
    padding-top: 20px;
    /* background-color: #000000; */
}

.quality .box5 .index-img8 .img1-1 {
    justify-content: center;

}

.quality .box5 .index-text5 {
    width: 400px;
    /* background-color: #00243E; */
}

.quality .box5 .index-text5 h1 {
    font-size: 20px;
    padding-top: 30px;
    color: #f2f2f2;
}

.quality .box5 .index-text5 p {
    color: #f2f2f2;
}

/* box 5 end */

/* information 2 */

.information2 {
    padding: 20rem 7% 1.4rem;
    width: 100%;
    position: relative;
}


.information2 .row2 {
    display: flex;



}

.information2 .row2 .information-img2 {
    margin-left: 30px;
    width: 50%;


}

.information2 .row2 .information-img2 img {
    width: 90%;
    border-radius: 15px;
    margin-bottom: 200px;
}

.information2 .row2 .content2 {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.information2 .row2 .content2 h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;

}

.information2 .row2 .content2 p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100%;
    line-height: 1.6;
    color: #00243E;
}

/* About Us */

.about {
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-image: url("../ASSET/image/image-background/woman-looking-through-binoculars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span {
    color: var(--color-blue-3);
}

.about .row {
    display: flex;

}

.about .row .content p {
    width: 90%;
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100%;
    line-height: 1.6;
    color: var(--color-blue-5);
    padding-left: 500px;
}

/* Review */

.review {
    width: 100%;
    position: relative;
    /* background-color: var(--color-blue-2); */
}

.review h1 {
    font-size: 2.6rem;
    text-align: center;
    margin: 100px;
}

/* baris comment 1 */
.review .comment {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    position: relative;
    background-color: var(--color-index_rate-4);
}

.review .comment .comment1,
.review .comment .comment2,
.review .comment .comment3 {
    display: flex;
    width: 400px;
    height: 180px;
    border-radius: 20px;
    background-color: #ffffff;
    margin: 20px;
    box-shadow: rgba(1, 1, 3, 0.5);
}


.review .comment .comment1 .person1,
.review .comment .comment2 .person2,
.review .comment .comment3 .person3 {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 20px;
    /* background-color: #a49797; */
}



.review .comment .comment1 .person1 .per1,
.review .comment .comment2 .person2 .per1,
.review .comment .comment3 .person3 .per1 {
    display: flex;
    width: 88px;
    height: 88px;
}

.review .comment .comment1 .name-1,
.review .comment .comment2 .name-2,
.review .comment .comment3 .name-3 {
    /* display: flex;
    flex-direction: column; */
    width: 70%;
    /* background-color: #d24040; */
}

.comment1 .name-1 h2,
.comment2 .name-2 h2,
.comment3 .name-3 h2 {
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.comment1 .name-1 .foto-star,
.comment2 .name-2 .foto-star,
.comment3 .name-3 .foto-star {
    width: 186px;
    height: 37px;
    padding-left: 10px;
}

.comment1 .name-1 p,
.comment2 .name-2 p,
.comment3 .name-3 p {
    padding-left: 10px;
}




/* baris comment 2 */

.review .comment-2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    position: relative;
    background-color: var(--color-index_rate-4);
}


.review .comment-2 .comment4,
.review .comment-2 .comment5,
.review .comment-2 .comment6 {
    display: flex;
    width: 400px;
    height: 180px;
    border-radius: 20px;
    background-color: #f2f2f2;
    margin: 20px;
}

.review .comment-2 .comment4 .person4,
.review .comment-2 .comment5 .person5,
.review .comment-2 .comment6 .person6 {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 20px;
    /* background-color: #a49797; */
}



.review .comment-2 .comment4 .person4 .per1,
.review .comment-2 .comment5 .person5 .per1,
.review .comment-2 .comment6 .person6 .per1 {
    display: flex;
    width: 88px;
    height: 88px;
}

.review .comment-2 .comment4 .name-4,
.review .comment-2 .comment5 .name-5,
.review .comment-2 .comment6 .name-6 {
    /* display: flex;
    flex-direction: column; */
    width: 70%;
    /* background-color: #d24040; */
}

.comment4 .name-4 h2,
.comment5 .name-5 h2,
.comment6 .name-6 h2 {
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.comment4 .name-4 .foto-star,
.comment5 .name-5 .foto-star,
.comment6 .name-6 .foto-star {
    width: 186px;
    height: 37px;
    padding-left: 10px;
}

.comment4 .name-4 p,
.comment5 .name-5 p,
.comment6 .name-6 p {
    padding-left: 10px;
}


/* FAQ  */

.faq {
    padding: 5rem 5% 10rem;
    width: 100%;
    position: relative;
}

.container {
    padding-bottom: 1rem;

}

.container h1 {
    color: #000000;
    text-align: center;
    padding: 100px;
    font-size: 50px;
}

details {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

summary {
    padding: .8em 2rem;
    list-style: none;
    justify-content: space-between;
    transition: height 1s ease;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    color: #fff;
    background-color: var(--color-blue-main);
    border-radius: 10px 10px;
}

summary:hover{
    color: #000000;
}

.container summary {
    font-size: 16px;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    content: "\002B";
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

details[open] summary:after {
    content: "\00D7";
}

details[open] div {
    padding: .5em 1em;
}

/* Footer */

/* footer start */
footer {
    height: max-content;
    width: 100%;
    background-color: var(--color-blue-footer);
    display: flex;
    flex-wrap: wrap;
    color: var(--color-white-1);
    font-size: 16px;
    font-weight: lighter;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

footer a {
    color: var(--color-white-1);
    font-size: 16px;
    font-weight: lighter;
}

footer a:hover{
    color: var(--color-white-3);
}

.footer_container {
    display: flex;
    gap: 50px;
    padding: 40px;
}

.footer_line{
    width: 70%;
    height: 2px;
    background-color: var(--color-white-1);
}

.reach_us_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 270px;
}

.location_container a {
    max-width: 200px;
}

.company_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
}

.legal_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
}

.subscribe_container {
    background-color: var(--color-white-1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    padding: 20px;
    height: min-content;
    border-radius: 20px;
    color: var(--color-black-1);
}

.subscribe_title {
    font-size: large;
    font-weight: bold;
}

.subscribe_input {
    display: flex;
    justify-content: space-between;
}

.subscribe_button {
    background-color: var(--color-blue-footer);
    padding: 5px;
    font-size: 16px;
    color: var(--color-white-1);
    cursor: pointer;
}

.subscribe_button:hover {
    background-color: var(--color-blue-2);
}

.subscribe_button:active {
    background-color: var(--color-white-3);
    color: var(--color-blue-main);
}

.subscribe_input input {
    width: 100%;
    padding-left: 5px;
    background-color: var(--color-white-1);
    border: 2px solid var(--color-white-2);
    border-right: none;
}

.subscribe_input input:focus {
    background-color: var(--color-white-1);
    border-color: var(--color-white-3);
}

.phone_container {
    display: flex;
    gap: 10px;
}

.phone_logo {
    background-image: url("../ASSET/image/image-logo/phone.png");
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.email_container {
    display: flex;
    gap: 10px;
}

.email_logo {
    background-image: url("../ASSET/image/image-logo/email.png");
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.location_container {
    display: flex;
    gap: 10px;
}

.location_logo{
    background-image: url("../ASSET/image/image-logo/location.png");
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.reach_us_title {
    font-size: large;
    font-weight: bold;
}

.company_title {
    font-size: large;
    font-weight: bold;
}

.legal_title {
    font-size: large;
    font-weight: bold;
}

.footer_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
}
/* footer end */